:root {
  --background: #ffffff;
  --foreground: #111111;
  --primary: #2dd4bf;
  --primary-foreground: #111111;
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: #0d9488;
}

.dark {
  --background: #111111;
  --foreground: #f4f4f4;
  --primary: #2dd4bf;
  --primary-foreground: #111111;
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(100% 0.00011 271.152 / 0.1);
  --input: oklch(1 0 0 / 15%);
  --ring: #0d9488;
}

 body {
    background-color: var(--background);
    color: var(--foreground);
  }