textarea#comment-textarea {
    width: 100%;
    min-height: 7em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #111111;
    color: #c6c9ce;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment-title {
    font-size: 1.6em;
    font-weight: bold;
    color: #c6c9ce;
}

#comment-info {
    display: flex;
    justify-content: space-between;
}

.comment-item {
    display: flex;
    flex-direction: column;
}

.comment-item-avatar {
    width: 3em;
    border-radius: 100%;
    margin-right: 0.75em;
}

.comment-item-header {
    width: 100%;
    margin-top: 2em;
}

.comment-item-header,
.comment-item-header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.comment-item-nichname {
    font-size: 1.225em;
    font-weight: bold;
    color: #efefef;
}

.comment-item-content {
    margin-top: 1.25em;
}

#comment-list {
    min-height: 10em;
}

#comment-list > p {
    text-align: center;
    height: 10em;
    margin: auto;
}
