#noticebar {
    bottom: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: var(--theme-gray-dark); */
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: 71;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#noticebar.active {
    bottom: 0%;
}

.notice-div a:after {
    background-color: var(--theme-white-light);
}

.highlight {
    color: darkgreen;
    position: relative;
    overflow: visible;
}

.ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 128, 0, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.ripple.active {
    animation: rippleEffect 1.5s ease-out;
}

@keyframes rippleEffect {
    from {
        width: 0;
        height: 0;
        opacity: 0.8;
    }
    to {
        width: 50em;
        height: 50em;
        opacity: 0;
    }
}

.breathI {
    animation: breathEffect 3s infinite;
}

@keyframes breathEffect {
    0%, 100% {
        transform: scale(1);
        color: rgba(0, 128, 0, 0.3);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        color:  rgba(0, 128, 0, 0.8);
        opacity: 0.7;
    }
}

#noticebar-left::-webkit-scrollbar {
    display: none;
}